.canvas{
  height: 500px;
}
ul{
  list-style-type: none;
}
@media screen and (max-width:995px) {
  .canvas{
    height: 300px;
  }
}
@media screen and (max-width:355px) {
  .canvas{
    height: 150px;
  }
}
