<div class="container text-center mt-5 z-5" mat-dialog-title>
  <div class="row mt-5">
    <div class="col-md-12 d-flex justify-content-end">
      <button class="btn shadow-none" mat-dialog-close>❌</button>
    </div>
    <div class="col-md-12">
      <h1>Riepilogo della prenotazione</h1>
    </div>
  </div>
</div>
<div class="container text-center" mat-dialog-content>
  <div class="row">
<form [formGroup]="reservationForm">
  <label for="">Nome prenotazione </label>
  <input type="text" formControlName="nome" class="form-control">
  <label for="">Cognome prenotazione</label>
  <input type="text" formControlName="cognome" class="form-control">
  <label for="">Eta </label>
  <input type="text" formControlName="eta" class="form-control">
  <label for="">Email prenotazione</label>
  <input type="text" formControlName="email" class="form-control">
  <label for="">Dove ?</label>
  <input type="text" formControlName="nomePianeta" class="form-control">
  <label for="">Da </label>
  <input type="date" formControlName="Da" class="form-control">
  <label for="">A </label>
  <input type="date" formControlName="A" class="form-control">
  <div class="row py-3">
    <div class="col-md-6 py-3">Prenota</div>
    <div class="col-md-6 py-3">Scarica pdf</div>
  </div>
</form>
  </div>
</div>
