<div class="text-center bg-white p-0">
  <div class="row py-5 p-0">
    <div class="col-md-12 py-5">
      <h1>Space Agency®</h1>
    </div>
    <img src="../../../assets/Images/redWave.jpg" alt="" class="w-100 svg">
    <div class="col-md-6 py-3"  style="background: rgb(228, 0, 0);">
<h1>O G</h1>
<h1>N O</h1>
<h1>E A</h1>
<h1><span class="text-danger"> _</span>  L</h1>
    </div>
    <div class="col-md-6 py-3 px-3" style="background: rgb(228, 0, 0);">
      <p class="fs-3 p-2 bg rounded" data-aos="fade-left" data-aos-duration="2000">
        Our passion is to explore, to dream the impossible and then to do it.
        This drive brought us to a new level of possibilities. We make weekly trips in the
        space, and give the access to all the humans on the earth.
      </p>
    </div>
    <img src="../../../assets/Images/redWave.jpg" alt="" class="w-100 svg rotate">
    <div class="col-md-12 py-3">
      <h1>A lot of itinerary</h1>
    </div>
      <div class="row px-3">
       <div class="col-lg-3 col-md-4 col-sm-6 p-2" *ngFor="let n of numbers">
      <div class="border shadow-lg rounded card bg text-dark">
        <img src="../../../assets/Images/card.png" alt="" class="rounded-top w-100">
        <p class="fs-4">Title</p>
        <p class="fs-4">price $</p>
        <p class="fs-5">Some random words to rapresent a card footer.</p>
        <p class="text-center">
          <button class="btn btn-primary">
            Check
          </button>
        </p>
      </div>
      </div>
    </div>
      <img src="../../../assets/Images/yellowWave.avif" alt="" class="w-100 pt-5 svg mt-5">
    <div class="col-md-12 py-5 d-flex justify-content-center" style="background: rgb(255, 189, 8);" >
      <div class="rounded"  *ngFor="let l of name;index as i">
        <div class="border shadow bg-light rounded translate{{i}}" [ngClass]="i<=4?'right':'left'">
          <h1>{{l}}</h1>
        </div>
      </div>
    </div>
    <img src="../../../assets/Images/yellowWave.avif" alt="" class="w-100 svg rotate">
    <div class="col-md-6 py-5 my-5">
<h1>Our team</h1>
<p class="fs-4">Some random text to explain the validity of our team, and why it will bring you in
   the space for an ordinary vacation and than back to the normal life on the earth. Seems like lego
   but they are not. We assure they are real people with degrees, a brain and much more.</p>
    </div>
    <div class="col-md-6 py-5 my-5">
      <div class="w-100 p-2 m-auto">
        <img src="../../../assets/Images/team.jpg" alt="" class="w-100 rounded border shadow-sm">
      </div>
    </div>
<div class="col-md-4 p-3 hover-effect" *ngFor="let n of numbers1">
<div class="border py-5 w-75 m-auto">
  <h2>Some title</h2>
</div>
<div class="w-100">
  <img src="../../../assets/Images/space.jpg" alt="" class="w-100">
</div>
</div>
  </div>
</div>
