.card{
  transition: 1s;
  scale: .9;
  .rocket{
    transform: translateY(1000px);
    transition: 1s;
    height: 0px;
  }
  .planet{
    min-height: 100.29px;
      max-height: 236.69px;
    transition: 1s;
    }
  &:hover{
    background-color:black;
color: white!important;
    scale: 1;
    transition: 1s;
    .planet{
      transform: translateY(-300px);
      transition: 1s;
      max-height: 0px;
    }
    .rocket{
      transform: translateY(0px);
      transition: 1s;
    }
  }
}

.right{
  h1{
  color:red;
  font-size:100px;
}
}
.left{
  h1{
  color:green;
  font-size:100px;
}
}
.justify-content-center{
  .translate0{
    transform: translateX(90px);
    position: relative;
    z-index: 5 ;
    &:hover{
      z-index: 6;
              position: relative;
      transition: .5s;
      scale:1.1;
          background-color:black!important;
color: white!important;
    }
    transition:.5s
  }
  .translate1{
    transform: translateX(70px);
        position: relative;
    z-index:4;
    &:hover{
      z-index: 6;
              position: relative;
      transition: .5s;
      scale:1.1;
          background-color:black!important;
color: white!important;
    }
    transition:.5s
  }
  .translate2{
    transform: translateX(50px);
        position: relative;
    z-index:3;
    &:hover{
      z-index: 6;
              position: relative;
      transition: .5s;
      scale:1.1;
          background-color:black!important;
color: white!important;
    }
    transition:.5s
  }
  .translate3{
    transform: translateX(30px);
        position: relative;
    z-index:2;
    &:hover{
      z-index: 6;
              position: relative;
      transition: .5s;
      scale:1.1;
          background-color:black!important;
color: white!important;
    }
    transition:.5s
  }
  .translate4{
    &:hover{
      z-index: 6;
              position: relative;
      transition: .5s;
      scale:1.1;
          background-color:black!important;
color: white!important;
    }
    transition:.5s
  }
  .translate6{
    transform: translateX(0px);
        position: relative;
    z-index:2;
    &:hover{
      z-index: 8;
              position: relative;
      transition: .5s;
      scale:1.1;
          background-color:black!important;
color: white!important;
    }
    transition:.5s
  }
  .translate7{
    transform: translateX(-20px);
        position: relative;
    z-index:3;
    &:hover{
      z-index: 8;
              position: relative;
      transition: .5s;
      scale:1.1;
          background-color:black!important;
color: white!important;
    }
    transition:.5s
  }
  .translate8{
    transform: translateX(-40px);
        position: relative;
    z-index:4;
    &:hover{
      z-index: 8;
              position: relative;
      transition: .5s;
      scale:1.1;
          background-color:black!important;
color: white!important;
    }
    transition:.5s
  }
  .translate9{
    transform: translateX(-60px);
        position: relative;
    z-index:5;
    &:hover{
      z-index: 8;
              position: relative;
      transition: .5s;
      scale:1.1;
          background-color:black!important;
color: white!important;
    }
    transition:.5s
  }
  .translate10{
    transform: translateX(-80px);
        position: relative;
    z-index:6;
    &:hover{
      z-index: 8;
              position: relative;
      transition: .5s;
      scale:1.1;
          background-color:black!important;
color: white!important;
    }
    transition:.5s
  }
  .translate11{
    transform: translateX(-100px);
        position: relative;
    z-index:7;
    &:hover{
      z-index: 8;
              position: relative;
      transition: .5s;
      scale:1.1;
          background-color:black!important;
color: white!important;
    }
    transition:.5s
  }
}
.svg{
  max-height: 200px;
}
.rotate{
  transform: rotateX(180deg) rotateY(180deg);
}
@media screen and (max-width:550px) {
  .right{
    h1{
    color:red;
    font-size:65px;
  }
  }
  .left{
    h1{
    color:green;
    font-size:65px;
  }
  }
}
.hover-effect{
  overflow: hidden;
  h2{
    z-index: 15;
  }
  .background{
    transform: translateX(-400px);
    height: 100%;
    transition: 1s;
    background-color: rgba(green, .3);
  }
    .text{
    transform:translateY(-50px);
    transform:translateX(700px) translateY(-50px);
    transition: 1s;
  }
  &:hover{
    .background{
      transform: translateX(0px);
      height: 100%;
      transition: 1s;
      background-color: rgba(green, .3);
    }
  .border{
    transform: translateY(50px);
    transition: 1s;
  }
  img{
    transform:translateX(-700px) translateY(-50px);
    transition: 1s;
    z-index: 2;

    }
    .text{
      transform:translateX(0px) translateY(50px);
      transition: 1s;
    }
  }
  .border, img{
    transition: 1s;
  }
}
.images{
  overflow: hidden;
  .position-absolute{
    visibility: hidden;
    transition: .1s;
  }
  .position-relative{
    visibility: visible;
    transition: .1s;
    img{
      transform: translateX(0px);
      transition: .5s;
      }
  }
  &:hover{
      .position-relative{
      visibility: hidden;
      transition: .1s;
      img{
      transform: translateX(400px);
      transition: .5s;
      }
    }
    .position-absolute{
      visibility: visible;
      transition: .5s;
    }

  }
}
.canvas-background{
height: 90vh;
}
