.card{
  transition: 1s;
  scale: .9;
  &:hover{
    scale: 1;
    transition: 1s;
  }
}
.row{
  max-height: 1000px;
  /* width */
&::-webkit-scrollbar {
  width: 0px;
  display: none;
}

/* Track */
&::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
&::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: none;
}
}
.right{
  color:red
}
.left{
  color:green
}
