.card{
  transition: 1s;
  scale: .9;
  &:hover{
    scale: 1;
    transition: 1s;
  }
}
.row{
  max-height: 1000px;
  /* width */
&::-webkit-scrollbar {
  width: 0px;
  display: none;
}

/* Track */
&::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
&::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: none;
}
}
.right{
  h1{
  color:red;
  font-size:100px;
}
}
.left{
  h1{
  color:green;
  font-size:100px;
}
}
.justify-content-center{
  .translate0{
    transform: translateX(90px);
    position: relative;
    z-index: 5 ;
    &:hover{
      z-index: 6;
              position: relative;
      transition: .5s;
      scale:1.1
    }
    transition:.5s
  }
  .translate1{
    transform: translateX(70px);
        position: relative;
    z-index:4;
    &:hover{
      z-index: 6;
              position: relative;
      transition: .5s;
      scale:1.1
    }
    transition:.5s
  }
  .translate2{
    transform: translateX(50px);
        position: relative;
    z-index:3;
    &:hover{
      z-index: 6;
              position: relative;
      transition: .5s;
      scale:1.1
    }
    transition:.5s
  }
  .translate3{
    transform: translateX(30px);
        position: relative;
    z-index:2;
    &:hover{
      z-index: 6;
              position: relative;
      transition: .5s;
      scale:1.1
    }
    transition:.5s
  }
  .translate4{
    &:hover{
      z-index: 6;
              position: relative;
      transition: .5s;
      scale:1.1
    }
    transition:.5s
  }
  .translate6{
    transform: translateX(0px);
        position: relative;
    z-index:2;
    &:hover{
      z-index: 8;
              position: relative;
      transition: .5s;
      scale:1.1
    }
    transition:.5s
  }
  .translate7{
    transform: translateX(-20px);
        position: relative;
    z-index:3;
    &:hover{
      z-index: 8;
              position: relative;
      transition: .5s;
      scale:1.1
    }
    transition:.5s
  }
  .translate8{
    transform: translateX(-40px);
        position: relative;
    z-index:4;
    &:hover{
      z-index: 8;
              position: relative;
      transition: .5s;
      scale:1.1
    }
    transition:.5s
  }
  .translate9{
    transform: translateX(-60px);
        position: relative;
    z-index:5;
    &:hover{
      z-index: 8;
              position: relative;
      transition: .5s;
      scale:1.1
    }
    transition:.5s
  }
  .translate10{
    transform: translateX(-80px);
        position: relative;
    z-index:6;
    &:hover{
      z-index: 8;
              position: relative;
      transition: .5s;
      scale:1.1
    }
    transition:.5s
  }
  .translate11{
    transform: translateX(-100px);
        position: relative;
    z-index:7;
    &:hover{
      z-index: 8;
              position: relative;
      transition: .5s;
      scale:1.1
    }
    transition:.5s
  }
}
.svg{
  max-height: 200px;
}
.rotate{
  transform: rotateX(180deg) rotateY(180deg);
}
@media screen and (max-width:550px) {
  .right{
    h1{
    color:red;
    font-size:65px;
  }
  }
  .left{
    h1{
    color:green;
    font-size:65px;
  }
  }
}
