<div class="position-relative p-0 m-0 bg-transparent">
  <div class=" px-5 text-center py-5  {{background=='bg-white'?'text-dark':'text-white'}}">
    <div class="row p-5">
      <div class="col-md-12">
        <h1 class="{{background=='bg-white'?'text-dark':'text-white'}}">Scopri i nostri itinerari</h1>
      </div>
<div class="col-md-7 m-auto border bg-personal p-3 rounded my-2 position-relative {{background=='bg-white'?'text-dark':'text-white'}}" [ngStyle]="{'background' :background=='bg-white'?'rgba(255, 255, 255, .5)':'rgba(0, 0, 0, .5)'}" *ngFor="let item of pacchetti?.content">
  <!-- <div class="canvas-card"></div> -->
  <div class="row">
    <div class="col-md-12 text-start z-3">
      <p class="px-5 py-2">
        <span>Dal {{item.da}} - </span>
        <span>Al {{item.a}}</span>
      </p>
    </div>
    <div class="col-md-12 p-3 fs-3 text-end z-3">
      <span class="border shadow-sm bg-light rounded-circle p-2 {{background=='bg-white'?'bg-dark text-white':'bg-white text-dark'}}" >{{item.prezzo +"€"}}</span>
    </div>
    <div class="col-md-12 py-3 z-3">
      <p class="fs-2">Un entusiasmante viaggio sul </p>
    </div>
    <div class="col-md-12 fs-3 py-3 d-flex justify-content-center z-3" *ngFor="let p of item.pianetas">{{p.nome}}</div>
    <hr>
    <div class="col-md-12 z-3">
        <button class="btn  {{background=='bg-white'?'btn-dark':'btn-light'}}" (click)="calculateReservationbAvailable(item.id,item.prezzo)" *ngIf="disponibility=='' || idChecked!=item.id">
          Controlla disponibilità
        </button>

        <p class="fs-4 {{colorChecked}}" *ngIf="idChecked && idChecked == item.id">
{{disponibility}}
      </p>
    </div>
  </div>
</div>
    </div>
  </div>
  <div class="canvas fixed-top w-100"></div>
</div>
