<div class="position-relative p-0 m-0">
  <div class=" px-5 text-center py-5  {{background}} {{background=='bg-white'?'text-dark':'text-white'}}">
    <div class="row p-5">
      <div class="col-md-12">
        <h1 class="{{background=='bg-white'?'text-dark':'text-white'}}">Scopri i nostri itinerari</h1>
      </div>
<div class="col-md-8 m-auto border p-3 rounded my-2" *ngFor="let item of pacchetti?.content">
  <div class="row">
    <div class="col-md-12 text-start">
      <p class="px-5 py-2">
        <span>Dal {{item.da}} - </span>
        <span>Al {{item.a}}</span>
      </p>
    </div>
    <div class="col-md-12 p-3 fs-3 text-end">
      <span class="border shadow-sm bg-light rounded-circle p-2" >{{item.prezzo +"€"}}</span>
    </div>
    <div class="col-md-12 py-3">
      <p class="fs-2">Un entusiasmante viaggio sul </p>
    </div>
    <div class="col-md-12 fs-3 py-3 d-flex justify-content-center" *ngFor="let p of item.pianetas">{{p.nome}}</div>
    <hr>
    <div class="col-md-12">
        <button class="btn" (click)="calculateReservationbAvailable(item.id)">
          Controlla disponibilità
        </button>
        <p class="fs-4" *ngIf="idChecked && idChecked == item.id">

      </p>
    </div>
  </div>
</div>
    </div>
  </div>
  <div class="canvas fixed-top w-100"></div>
</div>
