<nav class="text-center p-5 bg-info sticky-top">
  <div class="container">
    <div class="row" *ngIf="!showHamburger;else hamburger">
      <div class="col-md-2 fs-3" [routerLink]="''">Home</div>
      <div class="col-md-2 fs-3" [routerLink]="'/itinerari'">Itinerari</div>
      <div class="col-md-2 fs-3" [routerLink]="'/spaceCrew'">Space crew</div>
      <div class="col-md-2 fs-3" [routerLink]="'/mezzi'">Mezzi</div>
      <div class="col-md-2 fs-3" [routerLink]="'/about'">About us</div>
      <div class="col-md-2 fs-3" [routerLink]="'/auth'" *ngIf="isLoggedIn" (click)="logout()">Logout</div>
      <div class="col-md-2 fs-3" [routerLink]="'/auth'" *ngIf="!isLoggedIn">Login</div>
    </div>
    <ng-template  #hamburger >
      <div class="row hamburger">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="bg-info">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span> </span>
          </button>
          <button mat-menu-item  [routerLink]="''">
            <span>Home</span>
          </button>
          <button mat-menu-item [routerLink]="'/itinerari'">
            <span>Itinerari</span>
          </button>
          <button mat-menu-item [routerLink]="'/spaceCrew'">
            <span>Space crew</span>
          </button>
          <button mat-menu-item [routerLink]="'/mezzi'">
            <span>Mezzi</span>
          </button>
          <button mat-menu-item [routerLink]="'/about'">
            <span>About us</span>
          </button>
          <button mat-menu-item [routerLink]="'/auth'" *ngIf="isLoggedIn" (click)="logout()">
            <span>Logout</span>
          </button>
          <button mat-menu-item [routerLink]="'/auth'" *ngIf="!isLoggedIn">
            <span>Login</span>
          </button>
        </mat-menu>
      </div>
    </ng-template>
  </div>
  </nav>
