<div class="position-relative p-0 m-0 text-center">
  <div class="canvas fixed-top w-100"></div>
<div class="container py-5">
  <div class="row py-5">
    <div class="col-md-12">
      <h1>Benvenuto nel nostro parco mezzi</h1>
    <p>Qui troverai tutte le informazioni di cui hai bisogno sui nostri veicoli.</p>
    </div>
    <div class="col-md-12 p-3 " *ngFor="let m of mezzi,index as i">
<div class="border rounded py-5 p-3 shadow personal-height position-relative overflow-hidden"
[style]="{height:windowHeight+'px',background: getBackground(m.colore),backgroundRepeat:'no-repeat',backgroundSize:'cover'}">
  <h1>Unveil the {{i+1}}° vehicle </h1>
  <div class="vehicle vehicle-{{m.colore}} p-5 m-0 w-100 position-relative">
    <div class="index">
      <h2>Vehicle {{i+1}}</h2>
      <ul class="fs-5 text-start">
        <li>Seats: 10</li>
        <li>Speed: 100</li>
        <li>Fuel: WTI</li>
        <li>Captain: Jhonny Bravo</li>
      </ul>
    </div>
    <img class="fixed-bottom w-100" *ngIf="m.colore=='red'" src="../../../assets/Images/{{m.colore}}Wave.jpg">
    <img class="fixed-bottom w-100 {{m.colore}}" *ngIf="m.colore=='green'||m.colore=='pink'||m.colore=='dark'" src="../../../assets/Images/{{m.colore}}Wave.png">
    <img class="fixed-bottom w-100 rotate" *ngIf="m.colore=='yellow'" src="../../../assets/Images/{{m.colore}}Wave.avif">
    <img class="fixed-bottom w-100 rotate" *ngIf="m.colore=='light-blue'" src="../../../assets/Images/{{m.colore}}Wave.svg">
   </div>
   <div class="canvas-card w-100"></div>
</div>
    </div>
  </div>
</div>
</div>
