.personal-height{
  transition: 1s;
  &:hover{
    scale: .8;
    transition: 1s;
.vehicle{
  transform: translateY(-0px) translateX(-0px);
  transition: 1s;
  height: 100%;
  .index{
    z-index: 10!important;
  }
  img{
  z-index: -1;
}
}
}
.vehicle{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  transform: translateY(-2000px) translateX(-2000px);
  transition: 1s;
  .index{
    z-index: 10!important;
  }
  img{
  z-index: -1;
}
}
}
ul{
  list-style-type: none;
}

